@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CodeArray Technologies Pvt. Ltd.<br />
    Office No. 813, Dhamji Shamji Business Galleria<br />
    L.B.S. Marg, Kanjurmarg West<br />
    Mumbai - 400078 <br />
    Tel: +91 22 25770020
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>